In [2]:
import sqlite3
import pandas as pd

df = pd.read_csv('transaction.csv')

conn = sqlite3.connect('finance_health.db')

df.to_sql('finances', conn, if_exists='replace', index=False)

print("Database created and data uploaded successfully!")

Database created and data uploaded successfully!

In [6]:
query = '''
SELECT 
    user_id, 
    monthly_income, 
    monthly_expense_total, 
    financial_stress_level
FROM finances
WHERE monthly_expense_total > monthly_income
AND fraud_flag = 1;
'''

# Execute and view results
high_risk_df = pd.read_sql_query(query, conn)
print(high_risk_df.head())

   user_id  monthly_income  monthly_expense_total financial_stress_level
0     1776         3214.42                3378.15                    Low
1     1023         3247.65                3321.05                    Low
2     1449         2401.46                2888.16                    Low
3     1668         3391.57                3461.23                    Low
4     1075         3229.27                3232.55                 Medium

In [12]:
query_ranking = '''
SELECT user_id, income_type, savings_rate, credit_score,
       RANK() OVER (PARTITION BY income_type ORDER BY savings_rate DESC) as rank_within_group
FROM finances
WHERE credit_score > 700
LIMIT 15;
'''
ranking_df = pd.read_sql_query(query_ranking, conn)
print(ranking_df)

    user_id income_type  savings_rate  credit_score  rank_within_group
0      1974   Freelance          0.40         736.0                  1
1      1345   Freelance          0.40         701.0                  1
2      1823   Freelance          0.40         720.0                  1
3      1295   Freelance          0.39         736.0                  4
4      1694   Freelance          0.39         727.0                  4
5      1468   Freelance          0.39         716.0                  4
6      1544   Freelance          0.39         719.0                  4
7      1726   Freelance          0.39         717.0                  4
8      1409   Freelance          0.39         711.0                  4
9      1584   Freelance          0.38         721.0                 10
10     1003   Freelance          0.38         724.0                 10
11     1550   Freelance          0.38         711.0                 10
12     1609   Freelance          0.38         701.0                 10
13     1994   Freelance          0.38         720.0                 10
14     1297   Freelance          0.38         739.0                 10

In [13]:
query_risk = '''
SELECT user_id, monthly_income, monthly_expense_total
FROM finances
WHERE monthly_expense_total > monthly_income
AND fraud_flag = 1;
'''
risk_df = pd.read_sql_query(query_risk, conn)
print(risk_df)

    user_id  monthly_income  monthly_expense_total
0      1776         3214.42                3378.15
1      1023         3247.65                3321.05
2      1449         2401.46                2888.16
3      1668         3391.57                3461.23
4      1075         3229.27                3232.55
5      1052         2401.62                3662.26
6      1819         4224.13                4309.01
7      1929         3531.89                3582.43
8      1465         4842.11                4915.78
9      1547         3915.09                4250.09
10     1566         1576.00                3467.34
11     1637         2916.51                4177.55
12     1969         2854.76                3294.04
13     1889         2734.52                3524.01
14     1615         4252.39                4533.39
15     1946         2357.92                3605.77
16     1211         3866.63                5106.90
17     1664         2254.10                2907.71
18     1642         3306.56                3844.91
19     1972         3254.10                3542.05